@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff8e1;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #B02E0C; 
    padding: 16px 20px;
    border-bottom: 1px solid #eee;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #ff9d00;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 18px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #ff9d00;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 20px;
}

h2 {
    color: #ff9d00;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Container do formulário */
.form {
  max-width: 400px;
  margin: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  justify-content: flex-start;
}

/* Estilo do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

form input,
form textarea,
form button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #ff9f1c;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #ffbf69;
}

/* Container dos cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* Card individual */
.card {
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Imagem do produto */
.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

/* Título e texto */
.card h3 {
  font-size: 1rem;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  font-size: 0.85rem;
  margin: 2px 0;
  max-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card button {
  margin-top: 8px;
  padding: 6px 10px;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.card button.delete-btn:hover {
  background-color: #d62828;
}

.card button.add-cart-btn {
  margin-top: 8px;
  padding: 6px 10px;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.card button.add-cart-btn:hover {
  background-color: #21867a;
}

.clear-cart-btn {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #e63946;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
    }

    .clear-cart-btn:hover {
      background-color: #d62828;
    }

    .remove-btn {
      margin-top: 10px;
      padding: 6px 10px;
      background-color: #f4a261;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.8rem;
    }

    .remove-btn:hover {
      background-color: #e76f51;
    }

    .finalize-order-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #264653;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
    }

    .finalize-order-btn:hover {
    background-color: #1d3557;
    }

    /* pagina de notificação */

    .notificacao {
      text-align: center;
      margin-top: 50px;
    }

    .notificacao h2 {
      font-size: 2rem;
      color: #2a9d8f;
    }

    .notificacao p {
      font-size: 1.2rem;
      margin-top: 20px;
    }

    .notificacao a {
      display: inline-block;
      margin-top: 30px;
      padding: 10px 20px;
      background-color: #264653;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }

    .notificacao a:hover {
      background-color: #1d3557;
    }