@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex-grow: 1; 
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
    color: #ff9d00;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;   
    min-height: 100vh;      
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    padding-left: 50px; 
    height: 50px;       
    line-height: 50px;  
}


header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff9d00;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.hero {
    padding: 50px 20px;
    text-align: center;
    background-color: #ff9d00;
    color: #000;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    background-color: #881f1f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #fff;
    color: black;
}

footer {
    background-color: #881f1f;
    color: #ff9d00;
    text-align: center;
    padding: 15px;
    width: 100%;
}